{% extends "layouts/base.html" %}

{% block title %} Master {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- -----------------------TABEL, SEARCH, PAGINATION------------------- -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/elo-table/boostrap-4.5.1.css') }}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/elo-table/dataTables.bootstrap4.min.css') }}"> -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></Script>
  <!-- <script src="{{ url_for('static', filename='js/elo-table/jquery-3.5.1.js') }}"></script> -->
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/elo-table/jquery.dataTables.min.js') }}"></script> -->
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/elo-table/dataTables.bootstrap4.min.js') }}"></script> -->
  <!-- ------------------------------------------------------------------- -->

    <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="/home.html">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item">Master</li>
                <li class="breadcrumb-item active" aria-current="page">Grade</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Master Grade</h1>
            </div>
            <div>
                <!-- Button Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-form">+ Add Master</button>
                <!-- Modal Content -->
                <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="card p-3 p-lg-4">
                                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <div class="text-center text-md-center mb-4 mt-md-0">
                                            <h1 class="mb-0 h4">Add Master</h1>
                                        </div>
                                        <form action="#" class="mt-4">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="id-grade">ID</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="id-grade" autofocus required>
                                                </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="nama-grade">Grade</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="nama-grade" autofocus required>
                                                </div>
                                            </div>
                                        <div class="form-group mb-4">
                                            <label for="ket-grade">Keterangan</label>
                                                <div class="input-group">
                                                    <textarea type="text" class="form-control" id="ket-grade" autofocus required></textarea>
                                                </div>  
                                        </div>
                                        <!-- End of Form -->
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Save</button>
                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->
          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table id="example" class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0 rounded-start">Id</th>
                          <th class="border-0">Grade Skill</th>
                          <th class="border-0 rounded-end">Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDA</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Grade A
                          </td>
                          <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->

                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDB</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Grade B
                          </td>
                          <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->

                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDC</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Grade C
                          </td>
                          <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->

                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDT</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Training
                          </td>
                          <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#example").DataTable();
    });
  </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
