{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Master Skill Operator</h1>
            </div>
            <div>
                <!-- Button Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-form">+ Add Master</button>
                <!-- Modal Content -->
                <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="card p-3 p-lg-4">
                                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <div class="text-center text-md-center mb-4 mt-md-0">
                                            <h1 class="mb-0 h4">Add Master</h1>
                                        </div>
                                        <form action="#" class="mt-4">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="id-skill">ID</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="id-skill" autofocus required>
                                                </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="id-skill">Grade</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="nama-skill" autofocus required>
                                                </div>
                                            </div>
                                        <div class="form-group mb-4">
                                            <label for="id-skill">Keterangan</label>
                                                <div class="input-group">
                                                    <textarea type="text" class="form-control" id="ket-skill" autofocus required></textarea>
                                                </div>  
                                        </div>
                                        <!-- End of Form -->
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Save</button>
                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->
          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0 rounded-start">Id</th>
                          <th class="border-0">Grade Skill</th>
                          <th class="border-0 rounded-end">Keterangan</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDA</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Grade A
                          </td>
                          <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->

                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDB</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Grade B
                          </td>
                          <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->

                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDC</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Grade C
                          </td>
                          <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->

                      <!-- Item -->
                      <tr>
                          <td><a href="#" class="text-primary fw-bold">GRDT</a> </td>
                          <td class="fw-bold d-flex align-items-center">
                              Training
                          </td>
                          <td>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          </td>
                      </tr>
                      <!-- End of Item -->
                  </tbody>
              </table>
          </div>
      </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
