{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- -----------------------TABEL, SEARCH, PAGINATION------------------- -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/elo-table/boostrap-4.5.1.css') }}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/elo-table/dataTables.bootstrap4.min.css') }}"> -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></Script>
  <!-- <script src="{{ url_for('static', filename='js/elo-table/jquery-3.5.1.js') }}"></script> -->
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/elo-table/jquery.dataTables.min.js') }}"></script> -->
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/elo-table/dataTables.bootstrap4.min.js') }}"></script> -->
  <!-- ------------------------------------------------------------------- -->

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item">Transaction</li>
                  <li class="breadcrumb-item active" aria-current="page">Reparasi</li>
              </ol>
          </nav>
          <h2 class="h4">Reparasi</h2>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <!-- Button Modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-form">+ Input</button>
          <!-- Modal Content -->
          <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-body p-0">
                          <div class="card p-3 p-lg-4">
                              <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <div class="text-center text-md-center mb-4 mt-md-0">
                                      <h1 class="mb-0 h4">Input Data</h1>
                                  </div>
                                  <form action="#" class="mt-4">
                                  <!-- Form -->
                                  <div class="form-group mb-4">
                                      <label for="id-skill">No Model</label>
                                          <div class="input-group">
                                              <input type="text" class="form-control" id="id-skill" autofocus required>
                                          </div>
                                  </div>
                                  <div class="form-group mb-4">
                                      <label for="id-skill">Reparasi</label>
                                          <div class="input-group">
                                              <input type="text" class="form-control" id="nama-skill" autofocus required>
                                          </div>
                                      </div>
                                    <div class="form-group mb-4">
                                      <label for="id-skill">Jumlah Reparasi</label>
                                          <div class="input-group">
                                              <input type="number" class="form-control" id="nama-skill" autofocus required>
                                          </div>
                                      </div>
                                  <!-- End of Form -->
                                  <div class="d-grid">
                                      <button type="submit" class="btn btn-gray-800">Submit</button>
                                  </div>
                                  </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End of Modal Content -->
          
          <div class="btn-group ms-2 ms-lg-3">
              <button type="button" class="btn btn-outline-gray-600">Export</button>
          </div>
      </div>
  </div>
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table id="example" class="table table-hover">
          <thead class="thead-light">
              <tr>
                  <th class="border-0 rounded-start">No Model</th>
                  <th class="border-0">Point 3D</th>						
                  <th class="border-0">Kode Reparasi</th>
                  <th class="border-0">Ket Reparasi</th>
                  <th class="border-0">Jumlah</th>
                  <th class="border-0 rounded-end">Action</th>
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              <tr>
                  <td class="fw-bold">xxxx</td>
                  <td><span class="fw-normal">12</span></td>
                  <td><span class="fw-normal">RSK005</span></td>                        
                  <td><span class="fw-normal">Salah Diameter</span></td>
                  <td><span class="fw-normal">1</span></td>
                  <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
                          </svg>  
                            <span class="icon icon-sm">
                                <span class="fas fa-ellipsis-h icon-dark"></span>
                            </span>
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu py-0">
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <svg class="dropdown-icon text-primary me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                              <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
                            </svg> Edit </a>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <svg class="dropdown-icon text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                            </svg> Delete </a>
                        </div>
                    </div>
                  </td>
              </tr>

          </tbody>
      </table>
  </div>

  <script>
    $(document).ready(function () {
      $("#example").DataTable();
    });
  </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
